<?xml version="1.0" encoding="utf-8"?>
<package>
  <info>
    <name>ReqIF-Import-Sample-App</name>
    <label>ReqIF Importer sample App for RE and TD</label>
    <version>14.0.25.1</version>
    <version_label>14.0.25.1</version_label>
    <type>aia</type>
    <owner>Aras Corporation</owner>
    <description>This sample application provides examples to Import ReqIF files (reqif and reqifz) in RE and/or TD</description>
    <copyright>©2024 Aras Corporation</copyright>
    <package_icon>package.ico</package_icon>
    <more_information_url>https://github.com/ArasLabs</more_information_url>
    <tool_minimal_version_required>1.18</tool_minimal_version_required>
  </info>
  <installation>
    <module id="IS" label="@{Pkg.IS.Label}" description="@{Pkg.IS.Desc}" required_properties="Innovator.Dir">
      <copy todir="${Innovator.Dir}/Server" failonerror="true">
        <fileset basedir="${Package.Dir}/CodeTree/Innovator/Server">
          <include name="**" />
        </fileset>
      </copy>
	  
	  
	  <property name="MethodConfig" value="${Innovator.Dir}/Server/method-config.xml" />
	  <property name="MethodConfigXpath" value="/MethodConfig/ReferencedAssemblies" />
	  <!-- Add DotNetZip.dll in method-config.xml -->
	  <property name="Pkg.DllNameZip" value="DotNetZip.dll" />
	  <xmlpeek file="${MethodConfig}" xpath="${MethodConfigXpath}" property="OldReferencedAssemblies" />
				<if test="${not string::contains(OldReferencedAssemblies,Pkg.DllNameZip)}">
					<property name="NewReferencedAssemblies" value="${OldReferencedAssemblies}	&lt;name&gt;$(binpath)/${Pkg.DllNameZip}&lt;/name&gt;&#xD;&#xA;	" />
					<xmlpoke file="${MethodConfig}" xpath="${MethodConfigXpath}" value="${NewReferencedAssemblies}" preservewhitespace="true" />
				</if>
		<!-- Add ReqIFSharp.dll in method-config.xml -->
		<property name="Pkg.DllNameReqIF" value="ReqIFSharp.dll" />
		<xmlpeek file="${MethodConfig}" xpath="${MethodConfigXpath}" property="OldReferencedAssemblies" />
				<if test="${not string::contains(OldReferencedAssemblies,Pkg.DllNameReqIF)}">
					<property name="NewReferencedAssemblies" value="${OldReferencedAssemblies}	&lt;name&gt;$(binpath)/${Pkg.DllNameReqIF}&lt;/name&gt;&#xD;&#xA;	" />
					<xmlpoke file="${MethodConfig}" xpath="${MethodConfigXpath}" value="${NewReferencedAssemblies}" preservewhitespace="true" />
				</if>
    </module>
    <module id="DB" label="@{Pkg.DB.Label}" description="@{Pkg.DB.Desc}" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
      <dependencies>
        <innovator version="25.0" />
        <application exists="true" name="com.aras.innovator.solution.RE" />
      </dependencies>
      <import dir="${Package.Dir}/SolutionsImportAML/" failonerror="true" />
    </module>
  </installation>
</package>